<table border="0" cellpadding="1" cellspacing="0" class="TRNfundo" width="100%">
  <tbody><tr>
    <td class="TRNpassotextoa" colspan="3">Lançamentos nacionais</td>
  </tr>
  <tr>
    <td class="TRNdado_linha" colspan="3">RONDINELLE SOUSA DA CRUZ  (1095)</td>
  </tr>
  <tr>
    <td class="TRNdado_linha" width="14%" nowrap="">DATA</td>
    <td class="TRNdado_linha" width="56%" nowrap="">MOVIMENTAÇÃO</td>
    <td class="TRNtitcampo_linha" width="30%" nowrap=""><b>VALOR EM R$</b></td>
  </tr>
  <tr>
    <td class="TRNcampo_linha">16/12</td>
    <td class="TRNcampo_linha" nowrap="">FOTO PAULO        10/10   </td>
    <td class="TRNtitcampo_linha">71,90</td>
  </tr>
<tr>
  <td class="TRNcampo_linha">22/01</td>
  <td class="TRNcampo_linha">GOL TRAN   SP AERE09/10   </td>
  <td class="TRNtitcampo_linha">31,95</td>
</tr>
<tr>
  <td class="TRNcampo_linha">20/04</td>
  <td class="TRNcampo_linha">IPLACE            06/10   </td>
  <td class="TRNtitcampo_linha">39,90</td>
</tr>
<tr>
  <td class="TRNcampo_linha">20/04</td>
  <td class="TRNcampo_linha">SGH BRASIL        06/06   </td>
  <td class="TRNtitcampo_linha">66,70</td>
</tr>
<tr>
  <td class="TRNcampo_linha">06/05</td>
  <td class="TRNcampo_linha">PAGSEGURO*UltraMus05/05   </td>
  <td class="TRNtitcampo_linha">14,86</td>
</tr>
<tr>
  <td class="TRNcampo_linha">22/06</td>
  <td class="TRNcampo_linha">GOL TRAN   SP AERE04/10   </td>
  <td class="TRNtitcampo_linha">59,60</td>
</tr>
<tr>
  <td class="TRNcampo_linha">24/06</td>
  <td class="TRNcampo_linha">MERCADOPAGO       04/06   </td>
  <td class="TRNtitcampo_linha">7,53</td>
</tr>
<tr>
  <td class="TRNcampo_linha">29/06</td>
  <td class="TRNcampo_linha">AMAZON.COM.BR-    04/12   </td>
  <td class="TRNtitcampo_linha">39,99</td>
</tr>
<tr>
  <td class="TRNcampo_linha">07/07</td>
  <td class="TRNcampo_linha">PAGSEGURO*PaSeguro03/03   </td>
  <td class="TRNtitcampo_linha">12,38</td>
</tr>
<tr>
  <td class="TRNcampo_linha">31/07</td>
  <td class="TRNcampo_linha">GUICHE VIRTUAL*PASSAG O   </td>
  <td class="TRNtitcampo_linha">-0,02</td>
</tr>
<tr>
  <td class="TRNcampo_linha">31/07</td>
  <td class="TRNcampo_linha">GUICHE VIRTUAL*PAS03/03   </td>
  <td class="TRNtitcampo_linha">33,36</td>
</tr>
<tr>
  <td class="TRNcampo_linha">02/08</td>
  <td class="TRNcampo_linha">EXPRESSO DO SUL RJ03/03   </td>
  <td class="TRNtitcampo_linha">30,34</td>
</tr>
<tr>
  <td class="TRNcampo_linha">10/08</td>
  <td class="TRNcampo_linha">GOL TRAN   SP AERE02/10   </td>
  <td class="TRNtitcampo_linha">100,68</td>
</tr>
<tr>
  <td class="TRNcampo_linha">10/08</td>
  <td class="TRNcampo_linha">PAGSEGURO*PaSeguro02/02   </td>
  <td class="TRNtitcampo_linha">26,12</td>
</tr>
<tr>
  <td class="TRNcampo_linha">12/08</td>
  <td class="TRNcampo_linha">RABIXO ASSINATURAS02/03   </td>
  <td class="TRNtitcampo_linha">17,56</td>
</tr>
<tr>
  <td class="TRNcampo_linha">16/08</td>
  <td class="TRNcampo_linha">GRUPO PROSPIN     02/10   </td>
  <td class="TRNtitcampo_linha">32,99</td>
</tr>
<tr>
  <td class="TRNcampo_linha">30/08</td>
  <td class="TRNcampo_linha">PAGSEGURO*PaSeguro        </td>
  <td class="TRNtitcampo_linha">-0,01</td>
</tr>
<tr>
  <td class="TRNcampo_linha">30/08</td>
  <td class="TRNcampo_linha">PAGSEGURO*PaSeguro02/02   </td>
  <td class="TRNtitcampo_linha">18,29</td>
</tr>
<tr>
  <td class="TRNcampo_linha">31/08</td>
  <td class="TRNcampo_linha">ZARA-SHOP.ELDORADO        </td>
  <td class="TRNtitcampo_linha">-0,02</td>
</tr>
<tr>
  <td class="TRNcampo_linha">31/08</td>
  <td class="TRNcampo_linha">ZARA-SHOP.ELDORADO02/03   </td>
  <td class="TRNtitcampo_linha">99,34</td>
</tr>
<tr>
  <td class="TRNcampo_linha">31/08</td>
  <td class="TRNcampo_linha">IPLACE            02/10   </td>
  <td class="TRNtitcampo_linha">19,80</td>
</tr>
<tr>
  <td class="TRNcampo_linha">04/09</td>
  <td class="TRNcampo_linha">PagSeguro PaSeguro        </td>
  <td class="TRNtitcampo_linha">-0,04</td>
</tr>
<tr>
  <td class="TRNcampo_linha">04/09</td>
  <td class="TRNcampo_linha">PagSeguro PaSeguro01/03   </td>
  <td class="TRNtitcampo_linha">14,15</td>
</tr>
<tr>
  <td class="TRNcampo_linha">04/09</td>
  <td class="TRNcampo_linha">TIM INTERNET*2hynz3       </td>
  <td class="TRNtitcampo_linha">14,90</td>
</tr>
<tr>
  <td class="TRNcampo_linha">04/09</td>
  <td class="TRNcampo_linha">PAYPAL DO BRASIL          </td>
  <td class="TRNtitcampo_linha">25,60</td>
</tr>
<tr>
  <td class="TRNcampo_linha">04/09</td>
  <td class="TRNcampo_linha">PAYPAL DO BRASIL          </td>
  <td class="TRNtitcampo_linha">31,12</td>
</tr>
<tr>
  <td class="TRNcampo_linha">05/09</td>
  <td class="TRNcampo_linha">PAYPAL DO BRASIL          </td>
  <td class="TRNtitcampo_linha">8,40</td>
</tr>
<tr>
  <td class="TRNcampo_linha">06/09</td>
  <td class="TRNcampo_linha">MAGAZINE LUIZA    01/08   </td>
  <td class="TRNtitcampo_linha">27,09</td>
</tr>
<tr>
  <td class="TRNcampo_linha">06/09</td>
  <td class="TRNcampo_linha">SMILES SA                 </td>
  <td class="TRNtitcampo_linha">35,00</td>
</tr>
<tr>
  <td class="TRNcampo_linha">09/09</td>
  <td class="TRNcampo_linha">PAYPAL DO BRASIL          </td>
  <td class="TRNtitcampo_linha">7,76</td>
</tr>
<tr>
  <td class="TRNcampo_linha">09/09</td>
  <td class="TRNcampo_linha">PAYPAL DO BRASIL          </td>
  <td class="TRNtitcampo_linha">18,32</td>
</tr>
<tr>
  <td class="TRNcampo_linha">10/09</td>
  <td class="TRNcampo_linha">PAYPAL DO BRASIL          </td>
  <td class="TRNtitcampo_linha">40,40</td>
</tr>
<tr>
  <td class="TRNcampo_linha">10/09</td>
  <td class="TRNcampo_linha">PAYPAL DO BRASIL          </td>
  <td class="TRNtitcampo_linha">36,80</td>
</tr>
<tr>
  <td class="TRNcampo_linha">13/09</td>
  <td class="TRNcampo_linha">TIM INTERNET*2jb6ki       </td>
  <td class="TRNtitcampo_linha">14,90</td>
</tr>
<tr>
  <td class="TRNcampo_linha">14/09</td>
  <td class="TRNcampo_linha">PAYPAL DO BRASIL          </td>
  <td class="TRNtitcampo_linha">61,60</td>
</tr>
<tr>
  <td class="TRNcampo_linha">15/09</td>
  <td class="TRNcampo_linha">BDS                       </td>
  <td class="TRNtitcampo_linha">19,90</td>
</tr>
<tr>
  <td class="TRNcampo_linha">16/09</td>
  <td class="TRNcampo_linha">PAYPAL DO BRASIL          </td>
  <td class="TRNtitcampo_linha">28,24</td>
</tr>
<tr>
  <td class="TRNcampo_linha">16/09</td>
  <td class="TRNcampo_linha">PAYPAL DO BRASIL          </td>
  <td class="TRNtitcampo_linha">7,12</td>
</tr>
<tr>
  <td class="TRNcampo_linha">17/09</td>
  <td class="TRNcampo_linha">NETFLIX.COM               </td>
  <td class="TRNtitcampo_linha">19,90</td>
</tr>
<tr>
  <td class="TRNcampo_linha">18/09</td>
  <td class="TRNcampo_linha">UBER*UBER                 </td>
  <td class="TRNtitcampo_linha">10,54</td>
</tr>
<tr>
  <td class="TRNcampo_linha">19/09</td>
  <td class="TRNcampo_linha">PAGSEGURO*PaSeguro01/03   </td>
  <td class="TRNtitcampo_linha">12,38</td>
</tr>
<tr>
  <td class="TRNcampo_linha">19/09</td>
  <td class="TRNcampo_linha">UBER*UBER                 </td>
  <td class="TRNtitcampo_linha">10,96</td>
</tr>
<tr>
  <td class="TRNcampo_linha">20/09</td>
  <td class="TRNcampo_linha">TIM INTERNET*2kb6rj       </td>
  <td class="TRNtitcampo_linha">14,90</td>
</tr>
<tr>
  <td class="TRNcampo_linha">20/09</td>
  <td class="TRNcampo_linha">PAYPAL DO BRASIL          </td>
  <td class="TRNtitcampo_linha">8,40</td>
</tr>
<tr>
  <td class="TRNcampo_linha">20/09</td>
  <td class="TRNcampo_linha">GOOGLE PLAY*9551233170    </td>
  <td class="TRNtitcampo_linha">9,90</td>
</tr>
<tr>
  <td class="TRNcampo_linha">21/09</td>
  <td class="TRNcampo_linha">VAKINHA           01/02   </td>
  <td class="TRNtitcampo_linha">26,13</td>
</tr>
<tr>
  <td class="TRNcampo_linha">21/09</td>
  <td class="TRNcampo_linha">PAYPAL DO BRASIL          </td>
  <td class="TRNtitcampo_linha">8,08</td>
</tr>
<tr>
  <td class="TRNcampo_linha">21/09</td>
  <td class="TRNcampo_linha">ESPACO ITAU CINEMA        </td>
  <td class="TRNtitcampo_linha">12,00</td>
</tr>
<tr>
  <td class="TRNcampo_linha">24/09</td>
  <td class="TRNcampo_linha">PAGSEGURO                 </td>
  <td class="TRNtitcampo_linha">18,00</td>
</tr>
<tr>
  <td class="TRNcampo_linha">24/09</td>
  <td class="TRNcampo_linha">PAYPAL DO BRASIL          </td>
  <td class="TRNtitcampo_linha">9,68</td>
</tr>
<tr>
  <td class="TRNcampo_linha">24/09</td>
  <td class="TRNcampo_linha">TIM CTRWHATSAPP*2kuo44    </td>
  <td class="TRNtitcampo_linha">32,90</td>
</tr>
<tr>
  <td class="TRNcampo_linha">25/09</td>
  <td class="TRNcampo_linha">PAYPAL DO BRASIL          </td>
  <td class="TRNtitcampo_linha">7,44</td>
</tr>
<tr>
  <td class="TRNcampo_linha">27/09</td>
  <td class="TRNcampo_linha">PAYPAL DO BRASIL          </td>
  <td class="TRNtitcampo_linha">8,72</td>
</tr>
<tr>
  <td class="TRNcampo_linha">27/09</td>
  <td class="TRNcampo_linha">PAYPAL DO BRASIL          </td>
  <td class="TRNtitcampo_linha">4,50</td>
</tr>
<tr>
  <td class="TRNcampo_linha">27/09</td>
  <td class="TRNcampo_linha">GOOGLE PLAY*0665017781    </td>
  <td class="TRNtitcampo_linha">6,90</td>
</tr>
<tr>
  <td class="TRNcampo_linha">28/09</td>
  <td class="TRNcampo_linha">PAGSEGURO*PaSeguro01/03   </td>
  <td class="TRNtitcampo_linha">21,21</td>
</tr>
<tr>
  <td class="TRNcampo_linha">28/09</td>
  <td class="TRNcampo_linha">GLOBO COM                 </td>
  <td class="TRNtitcampo_linha">12,90</td>
</tr>
<tr>
  <td class="TRNcampo_linha">30/09</td>
  <td class="TRNcampo_linha">UNICEF BSB                </td>
  <td class="TRNtitcampo_linha">30,00</td>
</tr>
<tr>
  <td class="TRNcampo_linha">30/09</td>
  <td class="TRNcampo_linha">PAYPAL DO BRASIL          </td>
  <td class="TRNtitcampo_linha">7,44</td>
</tr>
<tr>
  <td class="TRNcampo_linha">01/10</td>
  <td class="TRNcampo_linha">PAYPAL DO BRASIL  01/03   </td>
  <td class="TRNtitcampo_linha">22,23</td>
</tr>
<tr>
  <td class="TRNcampo_linha">03/10</td>
  <td class="TRNcampo_linha">PAYPAL DO BRASIL          </td>
  <td class="TRNtitcampo_linha">26,50</td>
</tr>
<tr>
  <td class="TRNcampo_linha">04/10</td>
  <td class="TRNcampo_linha">SITE INGRESSORAPIDO.CO    </td>
  <td class="TRNtitcampo_linha">330,40</td>
</tr>
<tr>
  <td class="TRNcampo_linha">04/10</td>
  <td class="TRNcampo_linha">UBER*UBER                 </td>
  <td class="TRNtitcampo_linha">19,72</td>
</tr>
        <tr>
    <td class="TRNdado_linha" colspan="2">Crédito do cartão final (1095)</td>
    <td class="TRNtitcampo_linha"><b>-0,09</b></td>
        </tr>        <tr>
    <td class="TRNdado_linha" colspan="2">Débito do cartão final (1095)</td>
    <td class="TRNtitcampo_linha"><b>1.806,32</b></td>
  </tr>
</tbody></table>
