<table id="lancamento">
        <tbody><tr>
    <td>22/01</td>
    <td>Gol Tran   Sp Aere10/10</td>
    <td style="text-align:right; ">31,95</td>
</tr>
<tr>
    <td>20/04</td>
    <td>Iplace            07/10</td>
    <td style="text-align:right; ">39,90</td>
</tr>
<tr>
    <td>22/06</td>
    <td>Gol Tran   Sp Aere05/10</td>
    <td style="text-align:right; ">59,60</td>
</tr>
<tr>
    <td>24/06</td>
    <td>Mercadopago       05/06</td>
    <td style="text-align:right; ">7,53</td>
</tr>
<tr>
    <td>29/06</td>
    <td>Amazon.com.br'    05/12</td>
    <td style="text-align:right; ">39,99</td>
</tr>
<tr>
    <td>10/08</td>
    <td>Gol Tran   Sp Aere03/10</td>
    <td style="text-align:right; ">100,68</td>
</tr>
<tr>
    <td>12/08</td>
    <td>Rabixo Assinaturas03/03</td>
    <td style="text-align:right; ">17,56</td>
</tr>
<tr>
    <td>16/08</td>
    <td>Grupo Prospin     03/10</td>
    <td style="text-align:right; ">32,99</td>
</tr>
<tr>
    <td>31/08</td>
    <td>Zara-shop.eldorado03/03</td>
    <td style="text-align:right; ">99,34</td>
</tr>
<tr>
    <td>31/08</td>
    <td>Iplace            03/10</td>
    <td style="text-align:right; ">19,80</td>
</tr>
<tr>
    <td>04/09</td>
    <td>Pagseguro Paseguro02/03</td>
    <td style="text-align:right; ">14,15</td>
</tr>
<tr>
    <td>06/09</td>
    <td>Magazine Luiza</td>
    <td style="text-align:right; color:#3CB371">-0,49</td>
</tr>
<tr>
    <td>06/09</td>
    <td>Magazine Luiza    02/08</td>
    <td style="text-align:right; ">27,09</td>
</tr>
<tr>
    <td>19/09</td>
    <td>Pagseguro*paseguro</td>
    <td style="text-align:right; color:#3CB371">-0,04</td>
</tr>
<tr>
    <td>19/09</td>
    <td>Pagseguro*paseguro02/03</td>
    <td style="text-align:right; ">12,38</td>
</tr>
<tr>
    <td>21/09</td>
    <td>Vakinha           02/02</td>
    <td style="text-align:right; ">26,13</td>
</tr>
<tr>
    <td>28/09</td>
    <td>Pagseguro*paseguro</td>
    <td style="text-align:right; color:#3CB371">-0,02</td>
</tr>
<tr>
    <td>28/09</td>
    <td>Pagseguro*paseguro02/03</td>
    <td style="text-align:right; ">21,21</td>
</tr>
<tr>
    <td>01/10</td>
    <td>Paypal Do Brasil</td>
    <td style="text-align:right; color:#3CB371">-0,02</td>
</tr>
<tr>
    <td>01/10</td>
    <td>Paypal Do Brasil</td>
    <td style="text-align:right; color:#3CB371">-66,67</td>
</tr>
<tr>
    <td>01/10</td>
    <td>Paypal Do Brasil  02/03</td>
    <td style="text-align:right; ">22,23</td>
</tr>
<tr>
    <td>01/10</td>
    <td>Paypal Do Brasil  03/03</td>
    <td style="text-align:right; ">22,23</td>
</tr>
<tr>
    <td>06/10</td>
    <td>Tim Internet*2mnsi7</td>
    <td style="text-align:right; ">14,90</td>
</tr>
<tr>
    <td>06/10</td>
    <td>Smiles Sa</td>
    <td style="text-align:right; ">35,00</td>
</tr>
<tr>
    <td>06/10</td>
    <td>Paypal Do Brasil</td>
    <td style="text-align:right; ">12,90</td>
</tr>
<tr>
    <td>09/10</td>
    <td>Ingresso Com</td>
    <td style="text-align:right; ">18,85</td>
</tr>
<tr>
    <td>10/10</td>
    <td>Unibanco Arteplex</td>
    <td style="text-align:right; ">15,00</td>
</tr>
<tr>
    <td>10/10</td>
    <td>Paypal Do Brasil</td>
    <td style="text-align:right; ">11,30</td>
</tr>
<tr>
    <td>10/10</td>
    <td>Uber*uber</td>
    <td style="text-align:right; ">31,82</td>
</tr>
<tr>
    <td>10/10</td>
    <td>Adyen Servicos De Paga</td>
    <td style="text-align:right; ">6,90</td>
</tr>
<tr>
    <td>11/10</td>
    <td>Uber*uber</td>
    <td style="text-align:right; ">26,00</td>
</tr>
<tr>
    <td>13/10</td>
    <td>Sesc Internet</td>
    <td style="text-align:right; ">76,00</td>
</tr>
<tr>
    <td>13/10</td>
    <td>Uber*uber</td>
    <td style="text-align:right; ">44,00</td>
</tr>
<tr>
    <td>14/10</td>
    <td>Pcte Adic 300Mb*2nt6ot</td>
    <td style="text-align:right; ">14,90</td>
</tr>
<tr>
    <td>15/10</td>
    <td>Amazon.com.br</td>
    <td style="text-align:right; ">32,80</td>
</tr>
<tr>
    <td>15/10</td>
    <td>Bds</td>
    <td style="text-align:right; ">19,90</td>
</tr>
<tr>
    <td>15/10</td>
    <td>Uber*uber</td>
    <td style="text-align:right; ">18,75</td>
</tr>
<tr>
    <td>16/10</td>
    <td>Netflix.com</td>
    <td style="text-align:right; ">19,90</td>
</tr>
<tr>
    <td>18/10</td>
    <td>Uber*uber</td>
    <td style="text-align:right; ">15,69</td>
</tr>
<tr>
    <td>19/10</td>
    <td>Pagseguro*paseguro01/02</td>
    <td style="text-align:right; ">20,90</td>
</tr>
<tr>
    <td>19/10</td>
    <td>Paypal Do Brasil</td>
    <td style="text-align:right; ">15,00</td>
</tr>
<tr>
    <td>20/10</td>
    <td>Kanui Comercio    01/06</td>
    <td style="text-align:right; ">40,00</td>
</tr>
<tr>
    <td>20/10</td>
    <td>Uber*uber</td>
    <td style="text-align:right; ">16,80</td>
</tr>
<tr>
    <td>20/10</td>
    <td>Paypal*99taxis</td>
    <td style="text-align:right; ">10,90</td>
</tr>
<tr>
    <td>22/10</td>
    <td>Uber*uber</td>
    <td style="text-align:right; ">16,00</td>
</tr>
<tr>
    <td>23/10</td>
    <td>Tim Internet*2p8j2q</td>
    <td style="text-align:right; ">14,90</td>
</tr>
<tr>
    <td>24/10</td>
    <td>Pagseguro</td>
    <td style="text-align:right; ">18,00</td>
</tr>
<tr>
    <td>24/10</td>
    <td>Paypal Do Brasil</td>
    <td style="text-align:right; ">15,30</td>
</tr>
<tr>
    <td>24/10</td>
    <td>Uber*uber</td>
    <td style="text-align:right; ">20,00</td>
</tr>
<tr>
    <td>24/10</td>
    <td>Uber*uber</td>
    <td style="text-align:right; ">24,00</td>
</tr>
<tr>
    <td>24/10</td>
    <td>Uber*uber</td>
    <td style="text-align:right; ">43,13</td>
</tr>
<tr>
    <td>25/10</td>
    <td>Paypal Do Brasil</td>
    <td style="text-align:right; ">11,70</td>
</tr>
<tr>
    <td>25/10</td>
    <td>Uber*uber</td>
    <td style="text-align:right; ">53,38</td>
</tr>
<tr>
    <td>25/10</td>
    <td>Tim Ctrwhatsapp*2pi0tp</td>
    <td style="text-align:right; ">32,90</td>
</tr>
<tr>
    <td>28/10</td>
    <td>Globo Com</td>
    <td style="text-align:right; ">12,90</td>
</tr>
<tr>
    <td>29/10</td>
    <td>Zara Brasil       01/03</td>
    <td style="text-align:right; ">72,34</td>
</tr>
<tr>
    <td>29/10</td>
    <td>Anderson De Olivei01/03</td>
    <td style="text-align:right; ">53,33</td>
</tr>
<tr>
    <td>30/10</td>
    <td>Unicef Bsb</td>
    <td style="text-align:right; ">30,00</td>
</tr>
<tr>
    <td>30/10</td>
    <td>Uber*uber</td>
    <td style="text-align:right; ">17,22</td>
</tr>
<tr>
    <td>31/10</td>
    <td>Kanui Comercio    01/10</td>
    <td style="text-align:right; ">38,48</td>
</tr>
<tr>
    <td>01/11</td>
    <td>Expresso Do Sul   01/03</td>
    <td style="text-align:right; ">27,91</td>
</tr>
<tr>
    <td>01/11</td>
    <td>Paypal Do Brasil</td>
    <td style="text-align:right; ">12,00</td>
</tr>
<tr>
    <td>02/11</td>
    <td>Itapemirim Rio Jan01/03</td>
    <td style="text-align:right; ">30,01</td>
</tr>
<tr>
    <td>02/11</td>
    <td>Pcte Adic 300Mb*2qknd7</td>
    <td style="text-align:right; ">14,90</td>
</tr>
<tr>
    <td>02/11</td>
    <td>Paypal Do Brasil</td>
    <td style="text-align:right; ">30,45</td>
</tr>
<tr>
    <td>03/11</td>
    <td>Pagseguro*paseguro01/03</td>
    <td style="text-align:right; ">17,67</td>
</tr>
<tr>
    <td>03/11</td>
    <td>Paypal Do Brasil</td>
    <td style="text-align:right; ">11,30</td>
</tr>
<tr>
    <td>03/11</td>
    <td>Uber*uber</td>
    <td style="text-align:right; ">8,00</td>
</tr>
<tr>
    <td>03/11</td>
    <td>Uber*uber</td>
    <td style="text-align:right; ">10,19</td>
</tr>

      </tbody></table>
