<!DOCTYPE html>
<html>

<head>
  <title>Itaucard Reports</title>
</head>

<body>
  <h1>Itaucard Reports (<%= params[:filename] %>)</h1>

  <p><%= @report.transactions.size %> transações nacionais (total: <%= @report.total_amount %>)</p>
  <p><%= @report.in_cash_transactions.size %> transações à vista (total: <%= @report.in_cash_total_amount %>)</p>
  <p><%= @report.installments_transactions.size %> transações parceladas (total: <%= @report.installments_total_amount %>)</p>
  <p><%= @report.next_month_installments_transactions.size %> transações parceladas próximo mês (total: <%= @report.next_month_installments_total_amount %>)</p>
  <p><%= @report.current_month_transactions.size %> transações do mês atual (total: <%= @report.current_month_total_amount %>)</p>
  <p><%= @report.previous_month_transactions.size %> transações do mês anterior (total: <%= @report.previous_month_total_amount %>)</p>
  <p><%= @report.uber_transactions.size %> transações no Uber (total: <%= @report.uber_total_amount %>)</p>
  <p><%= @report.tim_transactions.size %> transações na TIM (total: <%= @report.tim_total_amount %>)</p>

  <hr>

  <h2>Todas as transações parceladas próximo mês:</h2>
  <pre>
    <% @report.next_month_installments_transactions.each do |transaction| %>
      <%
        current, total = transaction.installments.split('/')
        filled = (current.to_i * 100 / total.to_f).to_i
        empty = 100 - filled
        progress_bar = "#{'#'*filled}#{'-'*empty}"
        # TODO: display installment bars ('|') and what month the last installment due in.
      %>
      (<%= transaction.date %>) <%= transaction.title %> <%= transaction.installments %> - <%= transaction.amount.to_f %> <%= progress_bar %>
    <% end %>
  </pre>

  <hr>

  <h2>Todas as transações nacionais:</h2>
  <pre>
    <% @report.transactions.each do |transaction| %>
      (<%= transaction.date %>) <%= transaction.title %> <%= transaction.installments %> - <%= transaction.amount.to_f %>
    <% end %>
  </pre>
</body>

</html>
